## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# sbt specific
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project

core/lib_managed
core/target
pubsub/lib_managed
pubsub/target

# intellij specific
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# application specific
**/resources/*.conf
!**/resources/application.conf
!**/resources/reference.conf
